{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gamifikacja{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block extra_css %} {% endblock %}
    {% block extra_head %}{% endblock %}

</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/quiz/">Quiz</a></li>
            <li><a href="/statystyki/">Statystyki</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
    </nav>

    <!-- Główna zawartość -->
    <div class="container">

        {% block content %}

        {% endblock %}
    </div>

    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center>
                    {{ message | safe }}
                    </center>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js%} 
    {% endblock %}

</body>
</html>
