{% extends 'base.html' %}

{% block title %}
  Strona główna
{% endblock %}

{% block content %}
  {% comment %} <div class="container header-top"> {% endcomment %}
    <div class="card shadow-sm mb-2">
      <div class="card-body">
        <h2 class="card-title mb-4 text-center">Gamifikacja w procesie oceny siły relacji semantycznej w Wordnecie</h1>
        <h4 class="text-muted text-center mb-4">Marcin Poźniak</h4>
        <p class="lead text-center">
          Quiz, który za chwilę wypełnisz, ma na celu zbadanie użycia
          <strong>Słowosieci (plWordnetu)</strong> — największej na świecie bazy synsetów, czyli zestawów synonimów.
        </p>
      </div>
    </div>

    <div class="card shadow-sm mb-2">
      <div class="card-body">
        <h4 class="mb-3">Quiz składa się z <b>3 części</b> po <b>20 pytań</b> każda</h4>
        <ul class="list-group mb-2">
          <li class="list-group-item">Wybór najlepiej pasującego słowa</li>
          <li class="list-group-item">Odgadnięcie zamienionego w zdaniu słowa</li>
          <li class="list-group-item">Wybranie pasującej definicji do kontekstu definicji słowa</li>
        </ul>

        <ul class="list-group mb-2">
          <li class="list-group-item">Na początku wybierzesz najciekawszą dla siebie tematykę pytań</li>
          <li class="list-group-item">W każdym pytaniu jest możliwość zostawienia notatki/komentarza do tego konkretnego pytania</li>
          <li class="list-group-item">Całość zajmie około 10–15 minut</li>
          <li class="list-group-item">Po ukończeniu możesz ocenić quiz i dać ewentualny feedback</li>
        </ul>
      </div>
    </div>

    <div class="alert alert-success text-center shadow-sm">
      <h4 class="mb-0">Dziękuję z góry za każdą odpowiedź i opinie! 🙌</h4>
    </div>
  {% comment %} </div> {% endcomment %}

  <div class="text-center shadow-sm">
    <a href="{% url 'topic_choice' %}"><button type="button" class="btn btn-primary">Przejdź do quizu!</button></a>
  </div>
{% endblock %}
