{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-center mb-4">Instrukcja</h1>
<p>Quiz składa się z trzech części: </p> <br>
<ul>
    <li> odganięcie brakującego słowa </li>
    <li> ocena, czy jakieś słowo zostało podmienione </li>
    <li> #TODO </li>
<ul>

<a href="{% url 'topic_choice' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Wybierz tematykę quizu!</a>
<a href="{% url 'guess_replacement_question' 6 %}">skip do guess_replacement_question</a>

{% endblock %}