{% extends 'base.html' %}

{% block content%}

    <a href="{% url 'rate_word' %}" class="btn btn-primary" >Ocena dopasowania</a>
    <a href="{% url 'display_sentence' %}" class="btn btn-primary" >Wypisywanie losowego zdania</a>
    <a href="{% url 'insert_word'%}" class="btn btn-primary" >Wpisywanie słowa</a>
    <a href="{% url 'choose_word'%}" class="btn btn-primary" >Wybierz pasujące słowo</a>
    <a href="{% url 'rated_words_list'%}" class="btn btn-primary" >Lista ocenionych słów</a>

{% endblock %}

