{% extends 'base.html' %}

{% block content %}
<h1>Jak oceniasz słowo <b>{{ rated_word}}</b> w zdaniu: </h1> <br>
<p>{{ random_sentence|safe}}</p> <br>
<p>W skali od 0-10</p>
<form method="post">
  {% csrf_token %}
  {{ form }}
  {% comment %} <input type="range" name="value" min="1" max="10"> {% endcomment %}
  <button type="submit">Zapisz</button>
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}