{% extends 'base.html' %}

{% block content %}
<h1>Jak oceniasz słowo <b>{{ rated_word}}</b> w zdaniu: </h1> <br>
<p>{{ random_sentence|safe}}</p> <br>

<div class="form-control">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Zapisz</button>
  </form>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}