{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
{% endblock %}

{% block content %}
<h1>Jak oceniasz słowo <b>{{ rated_word}}</b> w zdaniu: </h1> <br>
<p>{{ random_sentence|safe}}</p> <br>

<form method="post">
  {% csrf_token %}
  
  <div class="slider-container">
    <label for="rating-slider">Ocena: <span id="slider-value">5</span></label>
    {{ form.value }}
  </div>
  
  <div class="button-wrapper">
    <button type="submit" class="btn-custom">Zapisz</button>
  </div>

</form>

{% endblock %}

{% block extra_js%}
<script>
  function updateLabel(value) {
    document.getElementById('slider-value').textContent = value;
  }

  window.addEventListener('DOMContentLoaded', function () {
    const slider = document.getElementById('rating-slider');
    if (slider) {
      updateLabel(slider.value);
    }
  });
</script>
{% endblock %}